[Unit]
Description=smtprelay
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/usr/bin
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/smtprelay --config /etc/smtprelay.ini
StandardOutput=journal
StandardError=journal
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
